{% autoescape off %}
Olá, {{ user.name|default:"Usuário" }}!

Você está recebendo este e-mail porque solicitou a recuperação de senha da sua conta no sistema {{ enterprise.name|default:"Nexiun" }}.

Para definir uma nova senha, acesse o link abaixo:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

IMPORTANTE:
- Este link é válido por 24 horas e só pode ser usado uma vez
- Se você não solicitou esta recuperação, pode ignorar este e-mail com segurança

{% if enterprise and enterprise.get_full_domain %}
Acesse nosso sistema: {{ protocol }}://{{ enterprise.get_full_domain }}
{% endif %}

Atenciosamente,
Equipe {{ enterprise.name|default:"Nexiun" }}

---
Este é um e-mail automático. Por favor, não responda a esta mensagem.
{% endautoescape %}